.cardroot {
    display: flex;
    flex-direction: row;
    margin: 25px 20px;
    border: 5px solid gray;
    border-radius: 20px;
    padding: 10px 5px;
    background-color: black;
    box-shadow: 10px 10px gray;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex: auto;
    text-align: left;
    margin: 5px 20px;
}

.rank {
    size:30px;
    margin: 10px 20px;
}

.score {
    margin-right: 20px;
    text-align: right;
}

@keyframes ripple{
    to{
        transform: scale(4);
        opacity: 0;
    }
}

.cardroot:hover{
    background-color: white;
    color: black;
}

.anime_title{
    color: inherit;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.anime_title:hover{
    text-decoration: underline;
    color: aqua;
}

.score_content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.score_img{
    height: 35px;
    margin-right: 10px;
}

.anime_img {
    height: 120px;
}