.staff_card_root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 10px;
}

.staff_card_image{
    height: 180px;
}

.staff_card_name{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}