:root{
    --imgUrl : "";
}

p{
    margin: 0px;
}
.details_root{
    display: flex;
    flex-direction: column;
    text-align: left;
}


.anime_details_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 10px 30px;
}

.anime_details_header::before{
    content: "";
    background-image: var(--imgUrl);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.45;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    z-index: -1;
}

.anime_details_img{
    height: 400px;
    padding: 10px 50px 10px 0px;
}

.details_header_info{
    display: flex;
    flex-direction: column;
}

.anime_details_title{
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0px;
}

.anime_details_type{
    margin: 0px 0px 20px 0px;
    font-size: 25px;
}

.details_score_header{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

.details_score{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    margin: 0px;
}

.anime_details_score{
    margin: 0px;
}

.details_header_sections{
    display: flex;
    flex-direction: row;
}

.details_header_section{
    display: flex;
    flex-direction: column;
    margin: 15px 20px 15px 0px;
}

.details_header_section_title{
    font-size: 15px;
    font-weight: bold;
}

.details_header_section_value{
    font-size: 20px;
}

.details_genre{
    display: flex;
    flex-direction: row;
}

.details{
    margin: 5px 30px;
}